[Desktop Entry]
Comment=
Exec=systemctl --user start mysteam
GenericName=start steam via systemd
Name=mysteam
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
